*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lora', serif;
    font-weight: 400;
    /* background-color: #1d061a; */
    background-image: linear-gradient(45deg,#1d061a, #411f3c);
}

.marca-navbar{
    font-weight: 500;
}
.btnCarrito{
    margin-left: 1em;
}
.caja{
    position: relative;
    width: 350px;
    height: 400px;
}
.caja::before{
    content:'';
    position: absolute;
    top:0;
    left:50px;
    width: 50%;
    height: 100%;
    background: #ffffff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}
.caja::after{
    content:'';
    position: absolute;
    top:0;
    left:50px;
    width: 50%;
    height: 100%;
    background: #ffffff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(30px);
}
.caja:hover:before,
.caja:hover:after{
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);
}
.caja:nth-child(1):before,
.caja:nth-child(1):after{
    background: linear-gradient(315deg, #0a0905,#ff0058);
}
.caja:nth-child(2):before,
.caja:nth-child(2):after{
    background: linear-gradient(315deg, #03a9f4,#ff0058);
}
.caja:nth-child(3):before,
.caja:nth-child(3):after{
    background: linear-gradient(315deg, #4dff03,#00d0ff);
}
.caja span{
    top: 0;
    left: 0;
    right: 0;bottom: 0;
    z-index: 50;
    pointer-events: none;
}
.caja span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0, 0.05);
}
.caja:hover span::before{
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}
.caja span::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0, 0.05);
    animation-delay: -1s;
}
.caja:hover span::after{
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}
@keyframes animate {
    0%,100%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
}
.caja .content{
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 5px 15px rgba(0,0,0, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    z-index: 1;
    transition: 0.5s;
}
.caja:hover .content{
    left: -25px;
    padding: 60px 40px;
}

.contenedor{
    position: relative;
    width: 400px;
    height: 400px;
}
.contenedor .thumb{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.contenedor .thumb li {
    list-style: none;
    width: 100px;
    height: 100px;
    margin:10px 0;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 15px 15px rgba(0,0,0, 0.05);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(4px);
}
.container .thumb li img{
    width: 90%;
    transition: 0.5s;
}
.container .thumb li:hover img{
   transform: rotate(-35deg);
}
.contenedor .imgBox{
    position: absolute;
    top: 0;
    right: 0;
    width: 350px;
    height: 100%;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 15px 15px rgba(0,0,0, 0.05);
    border: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(4px);
    padding: 60px 20px;
    padding-left: 50px;
}
.contenedor .imgBox img{ 
    width: 80%;
    transition: 0.25s;
}
.contenedor .imgBox img:hover{ 
  transform: scale(1.25) rotate(-15deg); 
}
.contenedor .imgBox .tamaño span{ 
    margin-right: 5px;
}
.contenedor .imgBox .tamaño li{ 
    list-style: none;
    width: 30px;
    height: 30px;
    background: #ffffff;
    color: #0c2227;
    margin: 5px;
    border-radius: 4px;
    font-weight: 500;
    box-shadow: 0 2px 10px rgba(0,0,0, 0.1);
    cursor: pointer;
    transition: 0.25s;
}
.contenedor .imgBox .tamaño li:hover{
    transform: translateY(-10px);
}
.contenedor .imgBox .btn{
    position: absolute;
    bottom: -30px;
    background-color: #ffffff;
    display: inline-block;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
    box-shadow: 0 15px 35px rgba(0,0,0, 0.1);
    font-weight: 400;
    color: #0c2227;
    transition: 0.25s;
}
.contenedor .imgBox .btn:hover{
    letter-spacing: 2px;
}