/*import*/
@import "./preload.scss";
@import "./cards.scss";
@import "./modal.scss";
@import "./contacto.scss";
@import "./acercade.scss";
/*variables*/
$fuente-body:'Roboto Mono', monospace;;
$colorwhite:#fff;
$colorbody:#c88861;
$colorblack:#000;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	text-decoration: none;
}
html{
	scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #c88861;
}

::-webkit-scrollbar-thumb:hover {
    background: #96725c;
}
body {
	font-family: $fuente-body;
	font-weight: 400;
	font-size: 16px;
	background: $colorbody;
	nav {
		height: 10vh;
		.nav-links {
			display: flex;
			list-style: none;
			width: 60%;
			height: 100%;
			justify-content: space-around;
			align-items: center;
			margin-left: auto;
			.li_nav-links a {
				color:$colorwhite;
				text-decoration: none;
				font-size: 1em;
				letter-spacing: 0.3em;
			  }
		  }
	
	}
}
.home{
	height: 90vh;
	// position: absolute;
	width: 100%;
}
.home-content{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
	img{
		height: 70%;
	}
	h1{
		font-size: 2em;
		margin: 1.8em 0;
		color: $colorwhite;
	}
	.texto{
		font-size: 1.3em;
		color:$colorwhite;
		span{
			color: #824520;
			font-weight: 400;
		}
	}
}

@media screen and (max-width: 768px) {
	    body{
			font-size: 14px;
		}
		.line {
		  width: 30px;
		  height: 3px;
		  background:$colorwhite;
		  margin: 5px;
		}
		nav {
		  position: relative;
		  .nav-links {
			position: fixed;
			background: $colorbody;
			height: 100vh;
			width: 100%;
			flex-direction: column;
			clip-path: circle(100px at 90% -10%);
			-webkit-clip-path: circle(100px at 90% -10%);
			transition: all 1s ease-out;
			pointer-events: none;
			z-index: 2;
		  }
		}
	  
		.hamburger {
		  position: absolute;
		  cursor: pointer;
		  right: 5%;
		  top: 50%;
		  transform: translate(-5%, -50%);
		  z-index: 2;
		}
	  
	
		.nav-links.open {
		  clip-path: circle(1000px at 90% -10%);
		  -webkit-clip-path: circle(1000px at 90% -10%);
		  pointer-events: all;
		}
		.li_nav-links {
		  opacity: 0;
		}
		.nav-links .li_nav-links a {
		  font-size: 25px;
		}
		.nav-links .li_nav-links:nth-child(1) {
		  transition: all 0.5s ease 0.2s;
		}
		.nav-links .li_nav-links:nth-child(2) {
		  transition: all 0.5s ease 0.4s;
		}
		.nav-links .li_nav-links:nth-child(3) {
		  transition: all 0.5s ease 0.6s;
		}
		.li_nav-links.fade {
		  opacity: 1;
		}
		.home-content{
			margin: 0 1em;
			img{
				height: 50%;
			}
		}
}
@media screen and (max-width: 425px){
	body{
		font-size: 10px;
	}
	.home{
		height: 50vh;
	}
	.home-content{
		margin: 0 1em;
		img{
			height: 30%;
		}
	}
}



